@charset "utf-8";

$grid-gutter-width: 30px;
$container-desktop: 740px + $grid-gutter-width;
$container-large-desktop: $container-desktop;
$border-radius-base: 7px;
$border-radius-large: 7px;
$font-size-base:16px;

$brand-primary: #7da62c;
$link-color: #00f;
$link-hover-color: #f00;
@import 'bootstrap';

.text-link {
    @extend .text-center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    a {
        text-decoration: underline;
    }
}

.panel {
    margin-top: 20px;
    h1.panel-title {
        font-size: 24px;
    }
    h2.panel-title {
        font-size: 20px;
    }
    .panel-body + .panel-heading {
        border-radius: 0;
    }
    .panel-footer {
        margin-top: 40px;
        a {
            color: $gray;
        }
    }
}